@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Sarina&display=swap');

$breakpoint-mobile: 480px;
$breakpoint-tablet: 880px;

$root-horizontal-spacing: 6vw;

$base-bg-color: #f3eeec;
$base-font-family: 'Gowun Dodum';
$base-font-color: #2a2a33;
$base-font-size-desktop: 1.4rem;
$base-font-size-mobile: 1.3rem;

$color-accent: #874c4c;
$font-family-logo: 'Sarina';
